apiVersion: v1
kind: ConfigMap
metadata:
  name: user-service-configmap-migration
  labels:
      {{- include "app.labels" . | nindent 4 }}
data:
  application.yml: |
    spring:
      datasource:
        url: jdbc:postgresql://{{ .Values.user_service.spring.postgres.db_host }}:{{ .Values.user_service.spring.postgres.db_port }}/{{ .Values.user_service.spring.postgres.db }}
        username: {{ .Values.user_service.spring.postgres.user }}
        password: ${POSTGRES_PASSWORD}
        driver-class-name: org.postgresql.Driver
      jpa:
        hibernate:
          ddl-auto: update
        show-sql: true


    logging:
      level:
        root: INFO
        org.springframework: DEBUG
        org.hibernate: DEBUG
        com.zaxxer.hikari: DEBUG
        org.postgresql: DEBUG
        org.springframework.jdbc.core.JdbcTemplate: DEBUG
        org.springframework.jdbc.core.StatementCreatorUtils: TRACE
        org.springframework.transaction: DEBUG
        org.springframework.orm.jpa: DEBUG
        org.springframework.boot.autoconfigure.jdbc: DEBUG
        org.springframework.boot.autoconfigure.orm.jpa: DEBUG
        ru.otus: DEBUG
      pattern:
        console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

