apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: simple-service-ingress
  annotations: {}
spec:
  ingressClassName: nginx
  rules:
    - host: arch.homework
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: simple-service
                port:
                  number: 80